<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
		<meta name="description" content="Pratik Agrawal,Nirma University, MS University, Vadodara">
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
		
		<!--normalize css-->
		  <link rel="stylesheet" href="css/normalize.css">
		  
<link rel="icon" href="/favicon.ico" type="image/x-icon">
   <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"></link>
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya"></link>
	
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

		<script src="js/vendor/modernizr-2.6.2.min.js"></script>
		
    </head>
    <body>
			
<center>
        <div class="container">
          <div class="site">
            <div class="header">
			
<h1 class="title"><a href="/">{{ site.name }}</a></h1>
			
			
             
			  <div class="nav">
              <a class="extra" href="/blog.html"><span class="icon-user">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Blog.</a>
			     <a class="extra" href="/stuff.html"><span class="icon-stuff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Stuff.</a>
			     <a class="extra" href="/work.html"><span class="icon-work">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Work.</a>
			  </div>
            </div>
			
			<div class="defstyle">
			
                {{ content }}
			
			</div>
			
            <div class="footer">
              
              <div class="contact">
                <p>
                  <a href="http://github.com/pratik98" target="_blank">Github </a>|
                  <a href="http://twitter.com/pratik_jack" target="_blank"> Twitter </a>|
				  <a href="http://www.linkedin.com/in/pratikagrawal98" target="_blank"> LinkedIn</a><br />
				  
                </p>
				<p>Handcrafted using <a href="http://www.jekyllrb.com" target="_blank">Jekyll.</a> Hosted on <a href="http://www.github.com" target="_blank">Github. </a></p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
		</center>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

      
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41803844-1', 'pratik98.github.io');
  ga('send', 'pageview');

</script>
    </body>
</html>
